@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;800;900%display=swap");
@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Press+Start+2P&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Do Hyeon", sans-serif;
  cursor: none;
}

header {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 200px;
  transition: 0.5s ease;
}
header .brand {
  font-size: 1.5em;
  color: #ededed;
  text-decoration: none;
  font-weight: 700;
}
.brand:hover {
  color: #000;
}
header .pic {
  vertical-align: middle;
}
header .navigation {
  position: relative;
}
.header img {
  width: 65px;
  height: 65px;
  margin-top: 5px;
  margin-right: 0;
}

header .navigation .navigation-items a {
  position: relative;
  color: #fff;
  font-size: 1.2em;
  font-weight: 500;
  text-decoration: none;
  margin-left: 35px;
  transition: 0.3s ease;
}

header .navigation .navigation-items a:hover,
header .navigation .navigation-items a.active {
  color: #000;
}
section {
  padding: 100px 200px;
}
.home {
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.home img {
  z-index: 000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home .content {
  z-index: 888;
  color: #fff;
  width: 70%;
  margin-top: 50px;

  display: none;
}
.home .content.active {
  display: block;
}

.home .content h1 {
  font-size: 3.5em;
  font-weight: 900;
  letter-spacing: 2px;
  line-height: 65px;
}

.home .content h3 {
  font-size: 2.1em;
  font-weight: 900;
  letter-spacing: 2px;
  line-height: 45px;
}

.home .content p {
  margin-bottom: 30px;
  font-size: 1.32em;
}

.home .btn-box {
  display: flex;
  justify-content: space-between;
  width: 345px;
  height: 50px;
}

.home .media-icons {
  z-index: 888;
  position: absolute;
  right: 30px;
  display: flex;
  flex-direction: column;
  transition: 0.5s ease;
}
.btn-box a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background: #00abf0;
  border: 2px solid #00afb0;
  border-radius: 8px;
  font-size: 1.2em;
  color: #081b29;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}
.media-icons a {
  margin-bottom: 1rem;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  background: transparent;
  border: 2px solid #00abf0;
  border-radius: 29%;
  font-size: 20px;
  color: #00abf0;
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.media-icons a:hover {
  color: #081b29;
}
.btn-box a:hover {
  color: #00abf0;
}
.btn-box a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #081b29;
  z-index: -1;
  transition: 0.35s;
}
.media-icons a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #00abf0;
  z-index: -1;
  transition: 0.2s;
}
.btn-box a:hover::before {
  width: 100%;
}
.media-icons a:hover::before {
  width: 100%;
}
.circle {
  position: absolute;
  height: 14px;
  width: 14px;
  border-radius: 24px;
  background-color: #00acf0;
}
.inner-cursor {
  position: absolute;
  left: 0;
  top: 0;
  width: 12px;
  height: 12px;
  transform: translate(-50%, -50%);
  background-color: #00abf0;
  mix-blend-mode: normal;
  border-radius: 50%;
  transition: width 0.5s, height 0.5s;
}

.inner-cursor.grow {
  width: 30px;
  height: 30px;
  transition: width 0.5s, height 0.5s;
}

.outer-cursor {
  position: fixed;
  left: 0;
  top: 0;
  width: 25px;
  height: 25px;
  transform: translate(-50%, -50%);
  border: transparent;
  mix-blend-mode: normal;
  border-radius: 50%;
}

a:hover {
  color: #1e84b3;
}
.status {
  color: #cfebff;
  position: absolute;
  bottom: 6em;
  right: 9em;
  font-family: "Do Hyeon", sans-serif;
  font-family: "Press Start 2P", cursive;
}
.status i {
  zoom: 200%;
}
.video-slide {
  position: absolute;
  width: 100%;
}
@media (max-width: 1450px) {
  * {
    cursor: auto;
  }
  header {
    padding: 12px 20px;
  }

  section {
    padding: 100px 20px;
  }

  .home .media-icons {
    right: 15px;
  }

  header .navigation {
    display: none;
  }

  header .navigation.active {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(1, 1, 1, 0.5);
  }

  header .navigation .navigation-items a {
    color: #222;
    font-size: 1.2em;
    margin: 20px;
  }

  header .navigation .navigation-items a:before {
    background: #222;
    height: 5px;
  }

  header .navigation.active .navigation-items {
    background: #fff;
    width: 600px;
    max-width: 600px;
    margin: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
  }

  .menu-btn {
    background: url(menu.png) no-repeat;
    background-size: 30px;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s ease;
  }

  .menu-btn.active {
    z-index: 999;
    background: url(close.png) no-repeat;
    background-size: 25px;
    background-position: center;
    transition: 0.3s ease;
  }
  .status {
    color: #cfebff;
    position: absolute;
    bottom: 3em;
    right: 4em;
    font-family: "Do Hyeon", sans-serif;
    font-family: "Press Start 2P", cursive;
  }
  .circle,
  .inner-cursor,
  .outer-cursor {
    color: transparent;
    background: transparent;
  }
}

@media (max-width: 950px) {
  .home .content h1 {
    font-size: 2.6em;
    line-height: 48px;
  }
  .home .content h3 {
    color: #cfebff;
    font-size: 1.5em;
    font-weight: 900;
    letter-spacing: 0.1em;
  }

  .home .content p {
    margin-bottom: 20px;
    font-size: 1.2em;
  }
  .status {
    position: absolute;
    bottom: 1.5em;
    right: 1em;
  }
  @media (max-width: 560px) {
    .home .content h1 {
      font-size: 3em;
      line-height: 60px;
    }
  }
}